name: Docker Image CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build the Docker image
        run: |
          docker build . -t {{.PROJECT_NAME_LOWER_CASE}}
          docker tag {{.PROJECT_NAME_LOWER_CASE}} {{"${{"}} secrets.DOCKER_USERNAME {{"}}"}}/{{.PROJECT_NAME_LOWER_CASE}}:${GITHUB_SHA}
